/* making round image*/
.image {
  border-radius: 50%;
  padding-top: 5px;
}

.left {
  text-align: center;
  background-color: rgba(206, 213, 218, 0.44);
  padding: 7px;
  justify-content: center;
  margin-bottom: 1px;
  margin-right: 10px;
}

.right {
  text-align: start;
  line-height: 1;

  
  
}

/*flex property is used to set flexible length on flexible items.*/
body,
.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;

}

/* @media is used to make the page responsive and create different layouts depending on the size of the viewport*/
@media only screen and (max-width: 800px) {
  body,
  .right {
    flex-direction: column;
    justify-content: center;
  }
}

h2 {
    font-family: "serif";
    margin-top: 0;
    letter-spacing: 0.3em;
    font-weight: 600;
    background-color: rgba(206, 213, 218, 0.326);
    font-size: 0.9em;
    padding-left: 2px;
    margin-left: 10px;
    }
  
  h2 strong {
      font-size: 1.5em;
      color: black;
      
    }
  h1 {
    font-weight: 300;
  }
  
  p {
    
    font-size: 0.9em;
    padding: 5px;
    padding-left: 10px;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 1em;
  }
  
  
  p,
  li {
    font-family: Georgia;
  }
  
  
  ul {
    padding-left: 20px;
    font-size: 0.9em;
    line-height: 0.8;
  }
  
  
  table {
    border: 3px solid rgba(206, 213, 218, 0.44);
    border-collapse: collapse;
    width: 100%;
  }
  
  table,
  td,
  th,tr {
    text-align: center;
  }
  
  .lineheight{
    line-height: 1.1;
    
  }
  
  body {
    padding: 5%;
  }
    
